/* Tiny Scrollbar */
#panel {
	.viewport { overflow: hidden; position: relative; }
	.overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
	.scrollbar{ position: absolute; z-index:10; right:-20px; background-position: 0 0; width: 15px; }
	.track { height: 100%; width:13px; position: relative; padding: 0 1px; }
	.thumb { background: transparent url(../img/bg-scrollbar-thumb-y-b.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
	.thumb .end { background: transparent url(../img/bg-scrollbar-thumb-y-b.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
	.disable { display: none; }
	.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
}