body {
	margin:0;
    overflow: hidden;
    color:white;
    font-family: "Avenir-Book";
    background-color:#282828;
}

#avenir-book {
    font-family: "Avenir-Book";
}

#header {
    width:100%;
    background-color:#282828;
    height:65px;
}

#header-container {
    width: 1000px;
    margin:0 auto;
}

#kinetic {
    position:relative;
    /*width:1600px;*/
    /*height:600px;*/
    /*margin:auto;*/
    /*border:1px solid gray;*/
    visibility: hidden;
}

#panel {
    position:absolute;
    right:0px;
    top: 65px;
    width: 323px;
    opacity: 0.8;
    height:100%;
    background-color:black;
    display:none;
}

#footer {
    height: 82px;
    position:fixed;
    bottom:0px;
    background-color:black;
    width:100%;
    opacity:0.8;
}

#footer-container {
    width:1000px;
    margin:0 auto;
}

#preload {
	visibility: hidden;
}

