body {
	margin:0;
    overflow: hidden;
    color:white;
}

#header {
    background-color:black;
    height:60px;
}

#kinetic {
    position:relative;
    /*width:1600px;*/
    /*height:600px;*/
    /*margin:auto;*/
    /*border:1px solid gray;*/
    visibility: hidden;
}

#preload {
	visibility: hidden;
}

#avenir-book {
	font-family: "Avenir-Book";
}

@font-face {
    font-family: 'Avenir-Book';
    src: url('../fonts/Avenir-Book.ttf');
}